.nav-container{
    margin-top: 2rem;
}

.games-row{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0;
    margin: 0 10%;
}

.games-item{
    min-width: 200px;
    list-style-type: none;
    position: relative;
    /* border: 1px solid rgba(0,0,0,.42); */
}

.games-item > a {
    display: block;
    position: absolute;
    left: .5em;
    bottom: 1.35em;
    color: rgba(0,0,0,.42);
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
